<div class="col-md-5 p-lg-6 mx-auto my-5" style="width: 450px; height: 400px;">
  <main class="form-signin w-100 m-auto">
    <h1 style="text-align: center">Editing Paciente</h1>

    <%= render 'form', paciente: @paciente %>

    <%= link_to 'Show', @paciente %> |
    <%= link_to 'Back', pacientes_path %>
  </main>
</div>
